In [121]:
import pandas as pd
import matplotlib.pyplot as plt

This where I downloaded this information from:
https://www.irs.gov/charities-non-profits/exempt-organizations-business-master-file-extract-eo-bmf

This is a useful table:
https://www.irs.gov/pub/irs-soi/eo_info.pdf

In [122]:
dfna = pd.read_csv('Northeast_Area.csv')
dfmagl = pd.read_csv('Mid_Atlantic_and_Great_Lakes_Areas.csv')
dfgcpc = pd.read_csv('Gulf_Coast_and_Pacific_Coast_Areas.csv')
dfaoa = pd.read_csv('All_Other_Areas.csv')

In [123]:
dfna.head().T

,0,1,2,3,4
EIN,19818,29215,587764,635913,765634
NAME,PALMER SECOND BAPTIST CHURCH,ST GEORGE CATHEDRAL,IGLESIA BETHESDA INC,MINISTERIO APOSTOLICO JESUCRISTO ES EL SENOR INC,MERCY CHAPEL INTERNATIONAL
ICO,NaN,NaN,NaN,NaN,NaN
STREET,1050 THORNDIKE ST,523 E BROADWAY,157 ANDOVER ST,454 ESSEX ST,75 MORTON VILLAGE DR APT 408
CITY,PALMER,SOUTH BOSTON,LOWELL,LAWRENCE,MATTAPAN
STATE,MA,MA,MA,MA,MA
ZIP,01069-1507,02127-4415,01852-2348,01840-1242,02126-2433
GROUP,3125,2365,0,0,0
SUBSECTION,3,3,3,3,3
AFFILIATION,9,9,3,3,3
CLASSIFICATION,7000,7000,7000,7000,7000
RULING,195504,197210,200401,200401,200404
DEDUCTIBILITY,1,1,1,1,1
FOUNDATION,10,10,10,10,10
ACTIVITY,1000000,1000000,0,0,0
ORGANIZATION,5,1,1,1,1
STATUS,1,1,1,1,1
TAX_PERIOD,NaN,NaN,NaN,NaN,NaN
ASSET_CD,0,0,0,0,0
INCOME_CD,0,0,0,0,0
FILING_REQ_CD,6,6,6,6,6
PF_FILING_REQ_CD,0,0,0,0,0
ACCT_PD,12,12,12,12,12
ASSET_AMT,NaN,NaN,NaN,NaN,NaN
INCOME_AMT,NaN,NaN,NaN,NaN,NaN
REVENUE_AMT,NaN,NaN,NaN,NaN,NaN
NTEE_CD,NaN,NaN,X21,X21,X20
SORT_NAME,3514,NaN,NaN,NaN,NaN

In [124]:
dfna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247895 entries, 0 to 247894
Data columns (total 28 columns):
EIN                 247895 non-null int64
NAME                247895 non-null object
ICO                 161704 non-null object
STREET              247895 non-null object
CITY                247895 non-null object
STATE               247895 non-null object
ZIP                 247895 non-null object
GROUP               247895 non-null int64
SUBSECTION          247895 non-null int64
AFFILIATION         247895 non-null int64
CLASSIFICATION      247895 non-null int64
RULING              247895 non-null int64
DEDUCTIBILITY       247895 non-null int64
FOUNDATION          247895 non-null int64
ACTIVITY            247895 non-null int64
ORGANIZATION        247895 non-null int64
STATUS              247895 non-null int64
TAX_PERIOD          204332 non-null float64
ASSET_CD            247895 non-null int64
INCOME_CD           247895 non-null int64
FILING_REQ_CD       247895 non-null int64
PF_FILING_REQ_CD    247895 non-null int64
ACCT_PD             247895 non-null int64
ASSET_AMT           202110 non-null float64
INCOME_AMT          202110 non-null float64
REVENUE_AMT         176919 non-null float64
NTEE_CD             160782 non-null object
SORT_NAME           55239 non-null object
dtypes: float64(4), int64(16), object(8)
memory usage: 53.0+ MB

In [125]:
dfna.groupby('STATE').count()['EIN'].sort_values(ascending=False)

STATE
NY    108875
NJ     45960
MA     39208
CT     21366
ME      9526
NH      8591
RI      8296
VT      6073
Name: EIN, dtype: int64

In [126]:
dfna.head(10).T

,0,1,2,3,4,5,6,7,8,9
EIN,19818,29215,587764,635913,765634,841363,852649,1028397,2022084,2030711
NAME,PALMER SECOND BAPTIST CHURCH,ST GEORGE CATHEDRAL,IGLESIA BETHESDA INC,MINISTERIO APOSTOLICO JESUCRISTO ES EL SENOR INC,MERCY CHAPEL INTERNATIONAL,AGAPE HOUSE OF PRAYER,BETHANY PRESBYTERIAN CHURCH,UNITY IN THE CITY,ST ROSALIAS ROMAN CATHOLIC CHURCH,CHURCH OF OUR LORD JESUS CHRIST OF MACEDONIA
ICO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,% CARLOS ANDERSON SL-NON UNITY,NaN,NaN
STREET,1050 THORNDIKE ST,523 E BROADWAY,157 ANDOVER ST,454 ESSEX ST,75 MORTON VILLAGE DR APT 408,39 GOODALE RD STE 2,32 HARVARD ST,PO BOX 471009,1230 65TH ST,569 BROADWAY
CITY,PALMER,SOUTH BOSTON,LOWELL,LAWRENCE,MATTAPAN,MATTAPAN,BROOKLINE,BROOKLINE,BROOKLYN,NEWARK
STATE,MA,MA,MA,MA,MA,MA,MA,MA,NY,NJ
ZIP,01069-1507,02127-4415,01852-2348,01840-1242,02126-2433,02126-1527,02445-7994,01302-0000,11219-5614,07104-4132
GROUP,3125,2365,0,0,0,0,0,2062,928,0
SUBSECTION,3,3,3,3,3,3,3,3,3,3
AFFILIATION,9,9,3,3,3,3,3,9,9,3
CLASSIFICATION,7000,7000,7000,7000,7000,1700,7000,2000,1270,7000
RULING,195504,197210,200401,200401,200404,200412,200504,197002,194603,197912
DEDUCTIBILITY,1,1,1,1,1,1,1,1,1,1
FOUNDATION,10,10,10,10,10,10,10,10,10,10
ACTIVITY,1000000,1000000,0,0,0,0,0,59029000,1000000,1000000
ORGANIZATION,5,1,1,1,1,1,1,5,5,1
STATUS,1,1,1,1,1,1,1,1,1,1
TAX_PERIOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ASSET_CD,0,0,0,0,0,0,0,0,0,0
INCOME_CD,0,0,0,0,0,0,0,0,0,0
FILING_REQ_CD,6,6,6,6,6,6,6,1,6,6
PF_FILING_REQ_CD,0,0,0,0,0,0,0,0,0,0
ACCT_PD,12,12,12,12,12,12,12,12,12,12
ASSET_AMT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INCOME_AMT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
REVENUE_AMT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NTEE_CD,NaN,NaN,X21,X21,X20,X20,X20,NaN,NaN,NaN
SORT_NAME,3514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
mask = (dfna['FOUNDATION'] != 10)
not_churchdf = dfna[mask]

In [128]:
not_churchdf.head().T

,12,13,14,15,16
EIN,10002847,10011694,10015091,10017496,10018555
NAME,HULLS COVE NEIGHBORHOOD ASSOCIATION,MASSACHUSETTS MODERATORS ASSOCIATION,HANOVER SOCCER CLUB INC,AGAMENTICUS YACHT CLUB OF YORK,ALPHA TAU OMEGA FRATERNITY
ICO,% JOANNE SOUSA,% DAVID WALRATH,NaN,NaN,NaN
STREET,PO BOX 126,30 SAMUEL PRESCOTT DR,PO BOX 13,PO BOX 534,81 COLLEGE AVE
CITY,HULLS COVE,STOW,CEDAR KNOLLS,YORK HARBOR,ORONO
STATE,ME,MA,NJ,ME,ME
ZIP,04644-0126,01775-1167,07927-0013,03911-0534,04473-4210
GROUP,0,0,0,0,287
SUBSECTION,3,3,3,3,7
AFFILIATION,3,3,3,3,9
CLASSIFICATION,1000,1000,1000,2000,1000
RULING,200007,201505,201210,199303,194101
DEDUCTIBILITY,1,1,1,1,2
FOUNDATION,15,16,16,15,0
ACTIVITY,0,995408229,0,149000000,36000000
ORGANIZATION,1,1,1,1,5
STATUS,1,1,1,1,1
TAX_PERIOD,201712,201512,201612,201712,201612
ASSET_CD,0,0,3,4,0
INCOME_CD,0,0,4,4,0
FILING_REQ_CD,2,2,1,1,2
PF_FILING_REQ_CD,0,0,0,0,0
ACCT_PD,12,12,12,12,12
ASSET_AMT,0,0,52489,233819,0
INCOME_AMT,0,0,107989,180773,0
REVENUE_AMT,0,0,107989,127013,0
NTEE_CD,A80,S19,N64,NaN,NaN
SORT_NAME,NaN,NaN,NaN,NaN,BETA UPSILION MAINE-ORONO

In [129]:
## REMOVE all the apartments, suites, and PO boxes

dfna2 = dfna[~dfna.STREET.str.contains("APT|STE|BOX")]

#leaveOut = ['BOX','APT','STE']

#dfnp2 = dfnp[~dfnp['STREET'].isin(leaveOut)]

In [130]:
dfna2.head()

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,ASSET_CD,INCOME_CD,FILING_REQ_CD,PF_FILING_REQ_CD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME
0,19818,PALMER SECOND BAPTIST CHURCH,NaN,1050 THORNDIKE ST,PALMER,MA,01069-1507,3125,3,9,...,0,0,6,0,12,NaN,NaN,NaN,NaN,3514
1,29215,ST GEORGE CATHEDRAL,NaN,523 E BROADWAY,SOUTH BOSTON,MA,02127-4415,2365,3,9,...,0,0,6,0,12,NaN,NaN,NaN,NaN,NaN
2,587764,IGLESIA BETHESDA INC,NaN,157 ANDOVER ST,LOWELL,MA,01852-2348,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,X21,NaN
3,635913,MINISTERIO APOSTOLICO JESUCRISTO ES EL SENOR INC,NaN,454 ESSEX ST,LAWRENCE,MA,01840-1242,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,X21,NaN
6,852649,BETHANY PRESBYTERIAN CHURCH,NaN,32 HARVARD ST,BROOKLINE,MA,02445-7994,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,X20,NaN

In [131]:
dfna2.groupby('STATE').count()['EIN'].sort_values(ascending=False)

STATE
NY    77969
NJ    33526
MA    27423
CT    15121
ME     5223
NH     4763
RI     4295
VT     3223
Name: EIN, dtype: int64

In [132]:
not501c = (dfna['FOUNDATION'] == 0)
not_501cdf = dfna[not501c]

In [133]:
not_501cdf.head(20).T

,16,17,18,19,20,21,22,23,24,25,26,28,29,32,33,34,35,36,37,38
EIN,10018555,10018605,10018922,10018923,10018927,10018930,10019705,10019708,10021545,10022320,10022415,10024245,10024455,10027415,10027741,10027746,10027747,10027748,10027751,10028850
NAME,ALPHA TAU OMEGA FRATERNITY,AMALGAMATED TRANSIT UNION,AMERICAN LEGION AUXILIARY,AMERICAN LEGION POST 0019 THOMAS W COLE POST,AMERICAN LEGION POST 0005 BOURQUE LANIGAN,AMERICAN LEGION,ANCIENT FREE & ACCEPTED MASONS OF MAINE GRAND ...,ANCIENT FREE & ACCEPTED MASONS OF MAINE,MAINE STATE CHAMBER OF COMMERCE,AUGUSTA COUNTRY CLUB,KENNEBEC VALLEY CHAMBER OF COMMERCE,BANGOR REGION CHAMBER OF COMMERCE,BENEVOLENT & PROTECTIVE ORDER OF ELKS OF THE USA,ANCIENT FREE & ACCEPTED MASONS OF MAINE,BENEVOLENT & PROTECTIVE ORDER OF ELKS OF THE USA,BENEVOLENT & PROTECTIVE ORDER OF ELKS OF THE USA,BENEVOLENT & PROTECTIVE ORDER OF ELKS OF THE USA,BENEVOLENT & PROTECTIVE ORDER OF ELKS OF THE USA,BENEVOLENT & PROTECTIVE ORDER OF ELKS OF THE USA,BERWICK CEMETERY ASSOCIATION INC
ICO,NaN,% BRENDAN BURKE,NaN,NaN,NaN,% TOM ADKINS TREAS,NaN,% LAWRENCE PRINGLE,NaN,NaN,NaN,NaN,NaN,% MALCOLM GATER,NaN,NaN,NaN,NaN,NaN,% RON VIGUE
STREET,81 COLLEGE AVE,PO BOX 979,5 VERTI DRIVE SUITE B,PO BOX 801,120 DRUMMOND AVENUE SUITE 3,5 VERTI DR,PO BOX 430,342 TURNER ST,125 COMMUNITY DR STE 101,PO BOX 239,269 WESTERN AVE,2 HAMOND ST SUITE 1,108 ODLIN RD,1 TUFTS RD,PO BOX 2206,86 MAIN ST,1675 LISBON ST,1945 CONGRESS ST,PO BOX 983,PO BOX 227
CITY,ORONO,PORTLAND,WINSLOW,SANFORD,WATERVILLE,WINSLOW,HOLDEN,AUBURN,AUGUSTA,MANCHESTER,AUGUSTA,BANGOR,BANGOR,BELFAST,AUGUSTA,HOULTON,LEWISTON,PORTLAND,ROCKLAND,BERWICK
STATE,ME,ME,ME,ME,ME,ME,ME,ME,ME,ME,ME,ME,ME,ME,ME,ME,ME,ME,ME,ME
ZIP,04473-4210,04104-0979,04901-0727,04073-0801,04901-5778,04901-0727,04429-0430,04210-6022,04330-8157,04351-0239,04330-4933,04401-5108,04401-6704,04915-7513,04338-2206,04730-2121,04240-3520,04102-1967,04841-0983,03901-0227
GROUP,287,155,964,925,925,925,275,275,0,0,0,0,1156,275,1156,1156,1156,1156,1156,0
SUBSECTION,7,5,19,19,19,19,10,8,6,7,6,6,8,8,8,8,8,8,8,13
AFFILIATION,9,9,9,9,9,9,6,9,3,3,3,3,9,9,9,9,9,9,9,3
CLASSIFICATION,1000,3000,1000,1000,1000,1000,1000,1000,1000,1000,3000,3000,1000,1000,1000,1000,1000,1000,1000,2000
RULING,194101,194010,194610,194603,194603,194603,194101,194101,192110,192908,194508,194501,197210,0,195110,195110,195110,195110,195110,201609
DEDUCTIBILITY,2,2,1,1,1,1,1,1,2,2,2,2,1,0,1,1,1,1,1,1
FOUNDATION,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ACTIVITY,36000000,263000000,319000000,907908000,907908000,907908000,260279000,36000000,205000000,280000000,200402403,403279000,279265000,0,279265000,279265000,279265000,279265000,279265000,0
ORGANIZATION,5,5,5,1,1,5,5,5,1,1,1,1,5,5,5,5,5,5,5,1
STATUS,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
TAX_PERIOD,201612,201712,201804,201805,201712,201804,201803,201612,201706,201712,201712,201712,201803,201803,201803,201803,201803,201703,201703,201803
ASSET_CD,0,3,4,4,4,5,6,0,5,6,5,4,5,0,5,4,4,4,6,6
INCOME_CD,0,3,4,5,5,5,5,0,6,6,5,5,6,0,6,5,4,5,6,5
FILING_REQ_CD,2,1,1,1,1,1,1,2,1,1,1,1,1,2,1,1,1,1,1,1
PF_FILING_REQ_CD,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ACCT_PD,12,12,4,5,12,4,3,12,6,12,12,12,3,3,3,3,3,3,3,3
ASSET_AMT,0,42286,221063,220993,446999,993074,1.87844e+06,0,734264,1.0895e+06,538465,173021,957619,0,506098,355571,287728,274222,NaN,2.25888e+06
INCOME_AMT,0,87217,233799,801378,847022,822568,708533,0,1.68415e+06,1.67889e+06,622235,622434,1.96177e+06,0,2.01059e+06,824100,374709,683050,NaN,722972
REVENUE_AMT,0,87217,233799,177143,82927,822568,396261,0,1.63863e+06,1.43788e+06,571327,603122,522638,0,472343,163820,83317,331871,NaN,277731
NTEE_CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y50
SORT_NAME,BETA UPSILION MAINE-ORONO,714 LOCAL,178 DANIEL E LAMBERT MEMORIAL,NaN,NaN,22 DEPT OF MAINE,NaN,35 BETHLEHEM LODGE,NaN,NaN,NaN,NaN,244 BANGOR,24 BELFAST LODGE,964 AUGUSTA,835 HOULTON,LEWISTON LODGE 371,0188 PORTLAND,1008 ROCKLAND,NaN

In [134]:
dfna_ketcha = dfna[dfna.NAME.str.contains("CAMP KETCHA")]

In [135]:
dfna_ketcha.head().T

                                 245
EIN                         10211784
NAME                     CAMP KETCHA
ICO                              NaN
STREET            336 BLACK POINT RD
CITY                     SCARBOROUGH
STATE                             ME
ZIP                       04074-8676
GROUP                              0
SUBSECTION                         3
AFFILIATION                        3
CLASSIFICATION                  1000
RULING                        201412
DEDUCTIBILITY                      1
FOUNDATION                        16
ACTIVITY                           0
ORGANIZATION                       1
STATUS                             1
TAX_PERIOD                    201712
ASSET_CD                           6
INCOME_CD                          6
FILING_REQ_CD                      1
PF_FILING_REQ_CD                   0
ACCT_PD                           12
ASSET_AMT                1.03767e+06
INCOME_AMT               1.42718e+06
REVENUE_AMT              1.39631e+06
NTEE_CD                          O43
SORT_NAME                        NaN

dfna = pd.read_csv('Northeast_Area.csv')

dfmagl = pd.read_csv('Mid_Atlantic_and_Great_Lakes_Areas.csv')

dfgcpc = pd.read_csv('Gulf_Coast_and_Pacific_Coast_Areas.csv')

dfaoa = pd.read_csv('All_Other_Areas.csv')

In [136]:
dfmagl.groupby('STATE').count()['EIN'].sort_values(ascending=False)

STATE
PA    71877
OH    69125
IL    69075
MI    50650
NC    49133
VA    45988
IN    38360
MD    36402
WI    36307
MN    35598
IA    28529
SC    26849
KY    19955
NE    13821
DC    13534
WV    10703
DE     7051
SD     6651
ND     5815
Name: EIN, dtype: int64

In [201]:
dfmagl_rc = dfmagl[dfmagl.NAME.str.contains("RIVERWEST FOOD")]
dfmagl_rc = dfmagl_rc[dfmagl_rc.STATE.str.contains("WI")]

In [202]:
dfmagl_rc.head(50)

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,ASSET_CD,INCOME_CD,FILING_REQ_CD,PF_FILING_REQ_CD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME
393016,463422131,RIVERWEST FOOD PANTRY INC,% VINCENT NOTH,2610 N MARTIN LUTHER KING JR DRIVE,MILWAUKEE,WI,53212-0000,0,3,3,...,5,5,1,0,12,815833.0,990425.0,990425.0,K99,NaN

In [187]:
dfmagl_rr = dfmagl[dfmagl.NAME.str.contains("RIVER REVITALIZATIONAL")]

In [188]:
dfmagl_rr.head()

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,ASSET_CD,INCOME_CD,FILING_REQ_CD,PF_FILING_REQ_CD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME
314139,391887400,RIVER REVITALIZATIONAL FOUNDATION INC,NaN,2134 N RIVERBOAT RD,MILWAUKEE,WI,53212-3517,0,3,3,...,6,5,1,0,12,2501148.0,619620.0,619620.0,C300,NaN

In [139]:
dfmagl_sh1 = dfmagl.dropna(subset=['STREET'])

In [206]:
dfmagl_sh2 = dfmagl_sh1[dfmagl_sh1.NAME.str.contains("SERENITY HOUSE")]
#dfmagl_sh3 = dfmagl[dfmagl.NAME.str.contains("ARCH STREET")]

In [209]:
dfmagl_sh2.head(20)
Unable to find

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,ASSET_CD,INCOME_CD,FILING_REQ_CD,PF_FILING_REQ_CD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME
2596,20582239,SERENITY HOUSE OF CHARLOTTE INC,% ED CROWLEY,1510 SCOTT AVE UNIT 422,CHARLOTTE,NC,28203-1512,0,3,3,...,3,3,2,0,12,30769.0,30766.0,30766.0,F20,NaN
169946,311043228,SERENITY HOUSE,NaN,PO BOX 454,GALLIPOLIS,OH,45631-0454,0,3,1,...,2,4,1,0,12,13188.0,191891.0,191891.0,P430,NaN
220906,351938742,SERENITY HOUSE INC,% EXECUTIVE DIRECTOR,2438 COUNTY ROAD 50,AUBURN,IN,46706-9501,0,3,3,...,5,5,1,0,12,814903.0,596180.0,589436.0,P73Z,NaN
239980,363323677,SERENITY HOUSE OF LIBERTYVILLE INC,NaN,PO BOX 6206,LIBERTYVILLE,IL,60048-6206,0,3,3,...,4,4,1,0,12,412902.0,101950.0,99203.0,NaN,NaN
240315,363350438,SERENITY HOUSE COUNSELING SERVICES INC,% MICHAEL J DUGAN,891 S RTE 53,ADDISON,IL,60101-4220,0,3,3,...,5,6,1,0,6,999971.0,1958174.0,1958174.0,F22Z,CHRYSALIS ONE INC
245904,363798808,SERENITY HOUSE FOUNDATION,% HENRY TEWS,891 S ROUTE 53,ADDISON,IL,60101-4220,0,3,3,...,6,4,1,0,6,4299347.0,293374.0,260847.0,P70I,C-O HENRY TEWS
284146,382660208,SERENITY HOUSE AND ALANO CLUB OF CHARLEVOIX INC,NaN,106 MASON ST,CHARLEVOIX,MI,49720-1314,0,3,3,...,4,3,1,0,12,365400.0,54718.0,49293.0,F22Z,NaN
287251,382983461,SERENITY HOUSE OF LENAWEE COUNTY,% JENNIFER GILMORE,600 GULF ST,ADRIAN,MI,49221-3450,0,3,3,...,0,0,2,0,12,0.0,0.0,0.0,F20,NaN
424819,473384600,SERENITY HOUSE OF FLINT,NaN,PO BOX 271,GRAND BLANC,MI,48480-0271,0,3,3,...,0,0,2,0,12,0.0,0.0,0.0,P20,NaN
536216,611092594,SERENITY HOUSE INC,NaN,845 SUNSET DR,MADISONVILLE,KY,42431-1863,0,3,3,...,0,0,2,0,12,0.0,0.0,0.0,F20Z,NaN
549507,711045158,KELLYS SERENITY HOUSE INC,% JEROME TAYLOR,1001 DONNINGTON DR,MATTESON,IL,60443-2284,0,3,3,...,1,2,2,0,12,718.0,14374.0,14374.0,P43,NaN
593178,821192495,SERENITY HOUSE OF MORGAN COUNTY,% SERENITY HOUESE,3253 N LEWISVILLE LN,PARAGON,IN,46166-9285,0,3,3,...,0,0,2,0,12,0.0,0.0,0.0,F20,SERENITY HOUSE

In [142]:
dfmagl_mm = dfmagl[dfmagl.NAME.str.contains("MISSION OF MARY")]

In [143]:
dfmagl_mm.head()

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,ASSET_CD,INCOME_CD,FILING_REQ_CD,PF_FILING_REQ_CD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME
387307,462231133,MISSION OF MARY COOPERATIVE,% ANDREW BADINGHAUS,619 SILVER LN,DAYTON,OH,45410-1938,0,3,3,...,4,4,1,0,12,133840.0,143048.0,141576.0,X20,NaN

In [144]:
dfmagl_ph = dfmagl[dfmagl.NAME.str.contains("PROJECT HOME ")]
dfmagl_ph2 = dfmagl_ph[dfmagl_ph.STATE.str.contains("WI")]

In [145]:
dfmagl_ph2.head(20)

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,ASSET_CD,INCOME_CD,FILING_REQ_CD,PF_FILING_REQ_CD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME
305654,391279307,PROJECT HOME INC,NaN,3841 KIPP ST,MADISON,WI,53718-6878,0,3,3,...,6,6,1,0,12,4406083.0,4194703.0,4194703.0,L82Z,NaN
315070,391947692,PROJECT HOME DEVELOPMENT CORPORATION,% DENISE MATYKA,3841 KIPP ST,MADISON,WI,53718-6878,0,3,3,...,6,4,1,0,12,1317881.0,371581.0,371581.0,L19,NaN

In [146]:
dfgcpc.groupby('STATE').count()['EIN'].sort_values(ascending=False)

STATE
CA    174032
TX    120313
FL     90744
GA     48892
WA     38518
MO     36026
TN     33848
CO     32569
AZ     24994
OR     24195
AL     21915
LA     20613
OK     19881
KS     17021
AR     14544
MS     13844
NV     12160
MT     10678
NM     10522
UT     10106
ID      8373
HI      8043
AK      5427
WY      4912
Name: EIN, dtype: int64

In [147]:
dfgcpc_dc = dfgcpc[dfgcpc.NAME.str.contains("SHAWL-ANDERSON")]

In [148]:
dfgcpc_dc.head()

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,ASSET_CD,INCOME_CD,FILING_REQ_CD,PF_FILING_REQ_CD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME
749675,941630594,SHAWL-ANDERSON MODERN DANCE CENTER,% FRANK SHAWL PRES,2704 ALCATRAZ AVE,BERKELEY,CA,94705-2706,0,3,3,...,6,6,1,0,6,1266315.0,1476458.0,1474949.0,A62Z,NaN

In [149]:
dfgcpc_ks = dfgcpc[dfgcpc.NAME.str.contains("KEHILLAH COMMUNITY SYNAGOGUE AND SCHOOL")]

In [150]:
dfgcpc_ks.head(25)

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,ASSET_CD,INCOME_CD,FILING_REQ_CD,PF_FILING_REQ_CD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME
759106,942990386,KEHILLAH COMMUNITY SYNAGOGUE AND SCHOOL,NaN,1300 GRAND AVE,PIEDMONT,CA,94610-1020,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,NaN,NaN

In [151]:
dfgcpc_oa = dfgcpc[dfgcpc.NAME.str.contains("AVENUES")]
#Other Avenues Grocery Cooperative 
#UNABLE TO FIND

In [152]:
dfgcpc_oa.head()

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,ASSET_CD,INCOME_CD,FILING_REQ_CD,PF_FILING_REQ_CD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME
89917,260176889,AVENUES BASEBALL LEAGUE,% STEVE CORBATO,1344 E YALE AVE,SALT LAKE CTY,UT,84105-1613,0,3,3,...,0,0,2,0,12,0.0,0.0,0.0,N63,NaN
122297,270517296,AVENUES 12 INC,NaN,204 SOUTH ST,DAYTONA BEACH,FL,32114-5336,0,3,3,...,5,4,1,0,12,633343.0,374741.0,374741.0,L40,NaN
147357,274468121,AVENUES COUNSELING CENTER,% LIANNE JOHNSON,1612 S BIG BEND BLVD,SAINT LOUIS,MO,63117-2208,0,3,3,...,3,4,1,0,12,26936.0,307594.0,307594.0,F60,NaN
173535,330482936,ALTERNATE AVENUES WOMENS RESOURCE CENTER,NaN,17057 FOOTHILL BLVD 204,FONTANA,CA,92335-3574,0,3,3,...,3,4,1,0,12,88175.0,445228.0,445228.0,E400,NaN
212400,431383926,AVENUES INC,NaN,PO BOX 284,HANNIBAL,MO,63401-0284,0,3,3,...,4,5,1,0,6,287552.0,759196.0,759196.0,P620,NaN

In [156]:
dfgcpc_iv = dfgcpc[dfgcpc.NAME.str.contains("ISLA VISTA")]

In [157]:
dfgcpc_iv.head(20)
#UNABLE TO FIND

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,ASSET_CD,INCOME_CD,FILING_REQ_CD,PF_FILING_REQ_CD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME
194621,371556505,LIGHT AND LIFE ISLA VISTA,% DAVID GOSS,PO BOX 1004,GOLETA,CA,93116-1004,1419,3,9,...,0,0,6,0,12,NaN,NaN,NaN,NaN,NaN
547138,770197511,ISLA VISTA PUBLIC IMPROVEMENT CORPORATION,NaN,961 EMBARCADERO DEL MAR,ISLA VISTA,CA,93117-4814,0,3,3,...,0,0,2,0,6,0.0,0.0,0.0,T30,NaN
597720,814030176,MISSION ISLA VISTA,% JASON LOMELLNO,6737 SUENO RD,GOLETA,CA,93117-4903,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,X20,NaN
777671,953007419,ISLA VISTA YOUTH PROJECT INC,NaN,6842 PHELPS RD,GOLETA,CA,93117-5540,0,3,3,...,6,6,1,0,6,1686150.0,2467279.0,2458926.0,B9XZ,NaN
779052,953251999,ISLA VISTA COMMUNITY DEVELOPMENT CORP,% FRANK THOMPSON,2948 SERENA RD,SANTA BARBARA,CA,93105-3324,0,3,3,...,0,0,2,0,12,0.0,0.0,0.0,NaN,NaN

In [175]:
dfgcpc_hh = dfgcpc[dfgcpc.NAME.str.contains("HARBOR HOUSE")]
dfgcpc_hh = dfgcpc_hh[dfgcpc_hh.CITY.str.contains("OAKLAND")]

In [176]:
dfgcpc_hh.head()

Empty DataFrame
Columns: [EIN, NAME, ICO, STREET, CITY, STATE, ZIP, GROUP, SUBSECTION, AFFILIATION, CLASSIFICATION, RULING, DEDUCTIBILITY, FOUNDATION, ACTIVITY, ORGANIZATION, STATUS, TAX_PERIOD, ASSET_CD, INCOME_CD, FILING_REQ_CD, PF_FILING_REQ_CD, ACCT_PD, ASSET_AMT, INCOME_AMT, REVENUE_AMT, NTEE_CD, SORT_NAME]
Index: []

[0 rows x 28 columns]

In [182]:
dfgcpc_fb = dfgcpc[dfgcpc.NAME.str.contains("FAITH BAPTIST")]
dfgcpc_fb = dfgcpc_fb[dfgcpc_fb.STATE.str.contains("CA")]

In [184]:
dfgcpc_fb.head(22)
#UNABLE TO FIND

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,ASSET_CD,INCOME_CD,FILING_REQ_CD,PF_FILING_REQ_CD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME
78689,237421933,FAITH BAPTIST CHURCH OF GOLETA INC,NaN,7190 HOLLISTER AVE,GOLETA,CA,93117-2802,0,3,3,...,0,0,6,0,3,NaN,NaN,NaN,NaN,NaN
78690,237421934,FAITH BAPTIST CHURCH,NaN,2353 LA BRUCHERIE RD,IMPERIAL,CA,92251-9717,0,3,3,...,5,5,6,0,3,NaN,NaN,NaN,NaN,NaN
145156,273984250,FAITH BAPTIST CHURCH OF ORANGE COUNTY,NaN,1700 W CERRITOS AVE UNIT 222,ANAHEIM,CA,92804-6181,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,X21,NaN
171232,330248275,FAITH BAPTIST CHURCH OF NORTH SAN DIEGO COUNTY,NaN,114 HILLSIDE TER,VISTA,CA,92084-5137,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,NaN,NaN
173412,330473992,NEW FAITH BAPTIST CHURCH,NaN,PO BOX 741133,SAN DIEGO,CA,92174-1133,0,3,3,...,4,3,6,0,12,NaN,NaN,NaN,NaN,NaN
174003,330520796,FAITH BAPTIST FELLOWSHIP OF LONG BEACH,% ROEM G AGUSTIN,PO BOX 9291,LONG BEACH,CA,90810-0291,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,NaN,LONG BEACH CHURCH
242826,454498555,FAITH BAPTIST CHURCH OF ROSEVILLE,NaN,1100 MELODY LN STE 133,ROSEVILLE,CA,95678-5205,0,3,3,...,0,0,6,0,1,NaN,NaN,NaN,X20,NaN
354966,522388512,FAITH BAPTIST CHURCH OF CHEROKEE ROAD,NaN,49191 CHEROKEE RD,NEWBERRY SPGS,CA,92365-9318,0,3,3,...,0,0,6,0,10,NaN,NaN,NaN,X21,NaN
452387,680230442,PROGRESSIVE FAITH BAPTIST CHURCH OF VALLEJO CA...,% LAMARR ALEXANDER,PO BOX 460,VALLEJO,CA,94590-0045,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,NaN,NaN
544499,770008282,FAITH BAPTIST CHURCH OF VENTURA COUNTY,NaN,3300 WEST ST,SOMIS,CA,93066-0000,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,NaN,SOMIS COMMUNITY CHURCH
582701,812433862,FAITH BAPTIST CORP,% CHRISTA KIDDER,11014 STONE RIVER DR,RCH CUCAMONGA,CA,91737-7816,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,X20,FAITH BAPTIST CHURCH
754707,942683386,FAITH BAPTIST CHURCH OF FRESNO,% JOEL ROCKEY,106 E SHIELDS AVE,FRESNO,CA,93704-4548,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,NaN,NaN
756930,942862235,FAITH BAPTIST CHURCH OF STRATHMORE,NaN,PO BOX 216,STRATHMORE,CA,93267-0216,2194,3,9,...,0,0,6,0,12,NaN,NaN,NaN,NaN,NaN
771610,946181836,FAITH BAPTIST CHURCH OF VISALIA,NaN,3833 W WALNUT AVE,VISALIA,CA,93277-3949,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,NaN,NaN
779029,953249696,GREATER FAITH BAPTIST CHURCH,NaN,7728 S BROADWAY,LOS ANGELES,CA,90003-2434,0,3,0,...,0,0,6,0,10,NaN,NaN,NaN,NaN,NaN
779477,953315694,FAITH BAPTIST FELLOWSHIP AND MINISTRIES,NaN,PO BOX 1313,TUSTIN,CA,92781-1313,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,NaN,NaN
781688,953659150,FAITH BAPTIST CHURCH OF MONROVIA,NaN,431 E GREYSTONE AVE,MONROVIA,CA,91016-2366,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,NaN,NaN
781716,953661822,FAITH BAPTIST CHURCH OF SUN VALLEY,NaN,10335 LA TUNA CANYON RD,SUN VALLEY,CA,91352-2106,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,NaN,NaN
782809,953786122,GREATER FAITH BAPTIST CHURCH,NaN,10441 S VERMONT AVE,LOS ANGELES,CA,90044-3135,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,NaN,NaN
785266,954080502,GREATER PEARL OF FAITH BAPTIST CHURCH,NaN,13210 AVALON BLVD,LOS ANGELES,CA,90061-2227,1668,3,9,...,0,0,6,0,12,NaN,NaN,NaN,NaN,NaN
793775,956005973,TABERNACLE OF FAITH BAPTIST CHURCH,NaN,11328 S CENTRAL AVE,LOS ANGELES,CA,90059-1642,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,NaN,NaN
796103,956128926,FAITH BAPTIST CHURCH OF CANOGA PARK,NaN,7644 FARRALONE AVE,CANOGA PARK,CA,91304-5514,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,NaN,NaN

In [185]:
dfgcpc_tf = dfgcpc[dfgcpc.NAME.str.contains("TRUE FELLOWSHIP")]
dfgcpc_ft = dfgcpc_tf[dfgcpc_tf.STATE.str.contains("CA")]

In [186]:
dfgcpc_ft.head()

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,ASSET_CD,INCOME_CD,FILING_REQ_CD,PF_FILING_REQ_CD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME
22273,201037614,TRUE FELLOWSHIP BAPTIST CHURCH OF WEST CONTRA ...,% JOE EDDY MCDONALD,PO BOX 5147,RICHMOND,CA,94805-0147,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,X21,NaN
759332,943006131,TRUE FELLOWSHIP BAPTIST CHURCH,% PASTOR KEITH HENDERSON,PO BOX 43482,OAKLAND,CA,94624-0482,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,NaN,NaN

In [210]:
#result = df1.append([df2, df3])

output = dfna_ketcha.append([dfmagl_rc, dfmagl_rr,dfmagl_mm,dfmagl_ph2,dfgcpc_dc,dfgcpc_ks,dfgcpc_hh,dfgcpc_ft])

In [213]:
output.head(15).T

,245,393016,314139,387307,305654,315070,749675,759106,22273,759332
EIN,10211784,463422131,391887400,462231133,391279307,391947692,941630594,942990386,201037614,943006131
NAME,CAMP KETCHA,RIVERWEST FOOD PANTRY INC,RIVER REVITALIZATIONAL FOUNDATION INC,MISSION OF MARY COOPERATIVE,PROJECT HOME INC,PROJECT HOME DEVELOPMENT CORPORATION,SHAWL-ANDERSON MODERN DANCE CENTER,KEHILLAH COMMUNITY SYNAGOGUE AND SCHOOL,TRUE FELLOWSHIP BAPTIST CHURCH OF WEST CONTRA ...,TRUE FELLOWSHIP BAPTIST CHURCH
ICO,NaN,% VINCENT NOTH,NaN,% ANDREW BADINGHAUS,NaN,% DENISE MATYKA,% FRANK SHAWL PRES,NaN,% JOE EDDY MCDONALD,% PASTOR KEITH HENDERSON
STREET,336 BLACK POINT RD,2610 N MARTIN LUTHER KING JR DRIVE,2134 N RIVERBOAT RD,619 SILVER LN,3841 KIPP ST,3841 KIPP ST,2704 ALCATRAZ AVE,1300 GRAND AVE,PO BOX 5147,PO BOX 43482
CITY,SCARBOROUGH,MILWAUKEE,MILWAUKEE,DAYTON,MADISON,MADISON,BERKELEY,PIEDMONT,RICHMOND,OAKLAND
STATE,ME,WI,WI,OH,WI,WI,CA,CA,CA,CA
ZIP,04074-8676,53212-0000,53212-3517,45410-1938,53718-6878,53718-6878,94705-2706,94610-1020,94805-0147,94624-0482
GROUP,0,0,0,0,0,0,0,0,0,0
SUBSECTION,3,3,3,3,3,3,3,3,3,3
AFFILIATION,3,3,3,3,3,3,3,3,3,3
CLASSIFICATION,1000,1000,1000,1700,1000,1000,2000,7000,7000,7000
RULING,201412,201406,199710,201408,197910,201407,196702,198604,200411,198611
DEDUCTIBILITY,1,1,1,1,1,1,1,1,1,1
FOUNDATION,16,15,15,15,15,16,11,10,10,10
ACTIVITY,0,0,994350351,0,400560000,0,46030000,1000000,0,1000000
ORGANIZATION,1,1,1,1,1,1,5,1,1,5
STATUS,1,1,1,1,1,1,1,1,1,1
TAX_PERIOD,201712,201712,201712,201712,201712,201712,201706,NaN,NaN,NaN
ASSET_CD,6,5,6,4,6,6,6,0,0,0
INCOME_CD,6,5,5,4,6,4,6,0,0,0
FILING_REQ_CD,1,1,1,1,1,1,1,6,6,6
PF_FILING_REQ_CD,0,0,0,0,0,0,0,0,0,0
ACCT_PD,12,12,12,12,12,12,6,12,12,12
ASSET_AMT,1.03767e+06,815833,2.50115e+06,133840,4.40608e+06,1.31788e+06,1.26632e+06,NaN,NaN,NaN
INCOME_AMT,1.42718e+06,990425,619620,143048,4.1947e+06,371581,1.47646e+06,NaN,NaN,NaN
REVENUE_AMT,1.39631e+06,990425,619620,141576,4.1947e+06,371581,1.47495e+06,NaN,NaN,NaN
NTEE_CD,O43,K99,C300,X20,L82Z,L19,A62Z,NaN,X21,NaN
SORT_NAME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [214]:
output.to_csv('Found_NPs.csv' ,  index = False)